* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Times, Times, serif, Helvetica, sans-serif;
  background-color: #858585;
  color: #ece5e5;
  line-height: 1.6;
  padding: 20px;
}

header {
  background-color: #2cb9f5;
  color: #eceaea;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

main h2 {
  color: #004080;
  margin-bottom: 10px;
}

main p {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px 0;
  background-color: #ddd;
  color: #333;
}